<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<form [formGroup]="loginForm" (ngSubmit)="loginUser($event)">
 <h1> Inicio de Sesiòn</h1>
 <ion-item>
  <ion-input formControlName="email" type="email" aria-placeholder="email"
   required> </ion-input>  
  </ion-item>
 <ion-chip color="danger" *ngIf="emailField.errors && emailField.dirty  " >
 <ion-label *ngIf="emailField.hasError('email') "> El email es invalido</ion-label>
 <ion-label *ngIf="emailField.hasError('required')"> El email es requerido
  </ion-label>   
 </ion-chip> 
  <ion-item>
    <ion-input formControlName="password" type="password" 
    aria-placeholder="contraseña" minlength=6> </ion-input>  
  </ion-item>
  <ion-chip color="danger" *ngIf="passField.errors && passField.dirty  " >
    <ion-label *ngIf="passField.hasError('minlength')">
       debe tener un minimo de 6 caracteres la contraseña</ion-label>
    <ion-label *ngIf="passField.hasError('required')"> 
      la contraseña es requerida </ion-label>   
    </ion-chip>
 <ion-button type="submit" expand="block"> Ingresar</ion-button>
<p> no te has registrado? <a routerLink="../register/"> registrate</a></p>
<p> has olvidado la contraseña? <a routerLink="../recover/"> recuperala</a></p>
</form>

</ion-content>
